<%- include ('header') %>
<div class="jumbotron text-center">
    <h1 class="display-4">Olá, seja vem vindo!</h1>
    <p class="lead">Encontre aqui as vagas que procura. Boa sorte</p>
    <hr class="my-4">
    <p>Se precisar, entre em contato conosco para tirar alguma dúvida.</p>
    <a class="btn btn-primary btn-lg" href="#" role="button">Fale conosco</a>
</div>
<div class="container">
    <div class="entry-roles">
        <h3>
            Vagas abertas
            <small class="text-muted">Encontre a vaga que procura</small>
        </h3>
    </div>
    <div class="list-roles">
        <% categorias.forEach(categoria => { %>
            <h3><%- categoria.categoria %></h3>
            <ul>
                <% categoria.vagas.forEach( vaga => { %>
                    <li>
                        <h4><a href="vaga/<%- vaga.id %>"><%- vaga.titulo %></a></h4>
                        <p><span>Detalhes:</span> <%- vaga.descricao %></p>
                    </li>
                <% }) %>

            </ul>
        <% }) %>
    </div>
</div>
<%- include('footer') %>